:root {
  --primary: #ffbcf3;
  --secondary: #a32263;
  --tertiary: #7c7885;
  --light-dark: #6f6f66;
  --dark: #38302e;
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
}

body,
html {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--dark);
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #a32263;
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: #eb34ae;
}

button {
  background-color: #a32263;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #eb34ae;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #eb34ae;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 3rem;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
}

main {
  flex: 1;
  padding: 12%;
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: 0.3rem;
  color: var(--secondary);
  border: none;
  outline: none;
  background-color: var(--primary);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: var(--secondary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #a32263;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #eb34ae;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: .3rem;
}

.post span {
  color: var(--primary);
  background-color: var(--dark);
  padding: 2.5%;
  border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}

.title {
  background-color: var(--tertiary);
  padding: 2%;
  border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}

.body {
  padding: 2.5%;
}


.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.login-form,
.signup-form,
.new-post-form,
.edit-post-form {
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: 0.2rem;
  padding: 2.5%;
}

.form-input,
.form-label {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
}
#post-title,
#post-text {
  display: flex;
  flex-wrap: wrap;
  align-content: center;

}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
